
<section class="todoapp">

	<header class="header">
		<h1>Person List</h1>
	</header>

	<!-- This section should be hidden by default and shown when there are todos -->
	<section class="main">
		<ul class="todo-list">
			<li *ngFor="let person of persons">
				<span>
          {{person.firstname}}
          {{person.lastname}}
				</span>
			</li>
		</ul>
	</section>

	<!-- This footer should hidden by default and shown when there are todos -->
	<footer class="footer">
  <!-- add paging and filter -->
	</footer>

<input placeholder="firstName"
       [(ngModel)]="newFirstname"
       (keyup.enter)="addPerson()"
       autofocus>
       
</section>