<header class="header">
	<h3>User List</h3>
</header>

<section class="todoapp">


	<!-- This section should be hidden by default and shown when there are todos -->
	<section class="main">
		<ul class="todo-list">
			<li *ngFor="let user of users">
				<span>
          {{user.login}}
          {{user.email}}
				</span>
			</li>
		</ul>
	</section>

	<!-- This footer should hidden by default and shown when there are todos -->
	<footer class="footer">
  <!-- add paging and filter -->
	</footer>

<input placeholder="login"
       [(ngModel)]="newLogin"
       (keyup.enter)="addUser()"
       autofocus>

<input placeholder="email"
       [(ngModel)]="newEmail"
       (keyup.enter)="addUser()"
       autofocus>

</section>
